
<!--body data-spy="scroll" data-target=".navbar" data-offset="50"-->  
  
  <nav class="navbar navbar-inverse navbar-fixed-top">  
    <div class="container-fluid">  
      <div class="navbar-header">  
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">  
            <span class="icon-bar"></span>  
            <span class="icon-bar"></span>  
            <span class="icon-bar"></span>                          
        </button>  
        <a class="navbar-brand" href="/">BALAJI MOBILES</a>  
      </div>  
      <div>  
        <div class="collapse navbar-collapse" id="myNavbar">  
          <ul class="nav navbar-nav">  
            <li><a href="#home">Home</a></li> 
           <li><a href="#about us">About us</a></li>  
            <li><a href="#products">products</a></li>  
            <!--li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>  
              <ul class="dropdown-menu">  
                <li><a href="#section41">Section 4-1</a></li>  
                <li><a href="#section42">Section 4-2</a></li>  
              </ul>  
            </li-->  
             
          </ul>  
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
          </ul>
        </div>  
      </div>  
    </div>  
  </nav> 
     
  <app-search></app-search>
  <div id="home" class="container-fluid">  
    
    <div class="w3-container w3-green">
      <h2>BNEW MOBILES</h2> 
      <p>Why is BNew unique in the market?</p> 
    </div>
    <br><br>
    
    <div class="w3-row-padding">
      <div class="w3-third">
        <h2>BRANDS</h2>
        <p>SAMSUNG</p>
        <p>VIVO</p>
        <p>APPLE</p>
        <p>REDMI</p>
        <p>OPPO</p>
        <p>LG</p>
      </div>
    
      <div class="w3-third">
        <h2>ABOUT</h2>
        <p>why BNEW</p>
        <p>About BNEW</p>
        <p>Services</p>
        <p>Gallery</p>
        <p>Latest Happening</p>
        <p>Business Enquiry</p>
        
      </div>
    
      <div class="w3-third">
        <h2>SUPPORT</h2>
        <p>Store Locator</p>
        <p>Customer SERVICE</p>
        <p>Damage Protection</p>
        <p>Theft Protection</p>
        <p>Bnew Winners</p>
        <p>Privacy Policy</p>
      </div>
    
    
  </div>
    <hr>
  
  </div>  
  <div id="about us" class="container-fluid">  
    <h1>ABOUT BNEW</h1>  
    <body>

      <div class="container">
        
        <hr>
       
        <div class="media">
          <div class="media-left media-top">
            <img src="assets/images/pic1.ipg.jpg" class="media-object" style="width:80px">
          </div>
          <div class="media-body">
            <h4 class="media-heading">MOBILES</h4>
           <p>
            Early phones were only available through a system whereby customers had to sign up for an invite to purchase the phone at irregular intervals. The system was claimed to be necessary for the young company to manage huge demand.[23] OnePlus ended the invite system with the launch of OnePlus 3 on 14 June 2016.[24] Announced via an interactive VR launch event, the OnePlus 3 initially went on sale within the VR app itself. OnePlus touted the event as the world's first VR shopping experience.[25] The phone was made available for sale later that day in China, North America and the European Union on the OnePlus website, and in India on Amazon India.[16
           </p>
          </div>
        </div>
        <hr>
        <div class="media">
          <div class="media-left media-middle">
            <img src="assets/images/pic2.jpg" class="media-object" style="width:80px">
          </div>
          <div class="media-body">
            <h4 class="media-heading">LAPTOPS</h4>
            <p>
              A laptop (also laptop computer), often called a notebook, is a small, portable personal computer (PC) with a "clamshell" form factor, typically having a thin LCD or LED computer screen mounted on the inside of the upper lid of the clamshell and an alphanumeric keyboard on the inside of the lower lid. The clamshell is opened up to use the computer. Laptops are folded shut for transportation, and thus are suitable for mobile use.[1] Its name comes from lap, as it was deemed to be placed on a person's lap when being used. Although originally there was a distinction between laptops and notebooks (the former being bigger and heavier than the latter), as of 2014, there is often no longer any difference. Today, laptops are commonly used in a variety of settings, such as at w
            </p>
          </div>
        </div>
        <hr>
        <div class="media">
          <div class="media-left media-bottom">
            <img src="assets/images/pic3.jpg" class="media-object" style="width:80px">
          </div>
          <div class="media-body">
            <h4 class="media-heading">TABS</h4>
             <p>
              A tablet is a wireless touch screen personal computer (PC) that is smaller than a notebook but larger than a smartphone. Modern tablets are built with wireless Internet or local area networks (LAN) and a variety of software applications, including business applications, Web browsers and games.
             </p>
          </div>
        </div>
      </div>
      
      </body>
      <br>
      <br>
  </div>  
  <div id="products" class="container-fluid">  
  
    <body>

      <div class="container-fluid">
        <h1>Welcome to BNEW PRODUCTS</h1>
        <p>Here we go!</p>
        
        
      </div>
      <br>
      <br>
      
      </body>
  </div>  
  <!--div id="section41" class="container-fluid">  
    <h1>Section 4 Submenu 1</h1>  
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>  
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>  
  </div>  
  <div id="section42" class="container-fluid">  
    <h1>Section 4 Submenu 2</h1>  
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>  
    <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>  
  </div-->  
    