<div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">TABLET</div>
          <div class="panel-body"><img src="assets/images/tabs.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <button type="button" class="btn btn-primary btn-block">BUY NOW</button>
        </div>
          </div>
      <div class="col-sm-4"> 
        <div class="panel panel-primary">
          <div class="panel-heading">BASIC MOBILES</div>
          <div class="panel-body"><img src="assets/images/Basicmobiles.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <button type="button" class="btn btn-primary btn-block">BUY NOW</button>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-primary">
          <div class="panel-heading">LAPTOPS</div>
          <div class="panel-body"><img src="assets/images/laptops.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <button type="button" class="btn btn-primary btn-block">BUY NOW</button>
        </div>
      </div>
    </div>
  </div><br><br>
