<div class="container">    
    <div class="row">
      <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">ONE PLUS MOBILES</div>
          <div class="panel-body"><img src="assets/images/oneplus.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <button type="button" class="btn btn-primary btn-block">BUY NOW</button>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-danger">
          <div class="panel-heading">ONE PLUS MOBILES</div>
          <div class="panel-body"><img src="assets/images/samsung.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <button type="button" class="btn btn-primary btn-block">BUY NOW</button>
        </div>
      </div>
      <div class="col-sm-4"> 
        <div class="panel panel-success">
          <div class="panel-heading">REDMI MOBILES</div>
          <div class="panel-body"><img src="assets/images/redmi.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
          <div class="panel-footer">
            <button type="button" class="btn btn-primary btn-block">BUY NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div><br>
